/* GameSectionFilter.css */
.gameSection {
  margin: 20px 0;
  background-color: lightgrey;
  border-radius: 10px;
  padding: 20px;
  color: aliceblue;
}

.gameList {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.gameGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.gameCard {
  margin: 10px;
  width: 200px;
  flex: 0 0 auto;
  background-color: #f0f0f0;
  margin-right: 15px;
  padding: 15px;
  border-radius: 5px;
  transition: transform 0.2s ease-in-out;
}

.gameCard:hover {
  transform: scale(1.05);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.gameCarousel {
  display: flex;
  overflow-y: scroll;
  align-items: center;
  flex-wrap: wrap;
  height: 400px;
  flex-direction: row;
}
