/* GameSectionGenre.css */
.gameSection {
  margin: 20px 0;
  background-color: rgb(78, 63, 105); 
  border-radius: 10px; 
  padding: 20px;
  color: white;
  }
  
  .sectionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
.gameList {
  display: flex;
  flex-wrap: nowrap; 
  overflow-x: auto; 
}
  .gameGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .gameCard {
    margin: 10px;
    width: 200px; 
    flex: 0 0 auto; 
    background-color: #745a92; 
    margin-right: 15px;      
    padding: 15px;           
    border-radius: 5px;      
    transition: transform 0.2s ease-in-out; 
    color: white;
  }
  
  .gameCard:hover {
    transform: scale(1.05);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  }

  .gameCarousel {
    display: flex; 
    align-items: center;
    justify-content: space-between; 
  }

.tag-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;
}

.tag {
  background-color: rgba(0, 0, 0, 0.6); 
  color: #ffffff; 
  padding: 5px 10px;
  border-radius: 15px;
  display: inline-block;
  opacity: 0.8;
  margin: 2px;
}

.genres-text {
  margin-bottom: 10px; /* Adjust the margin bottom as needed */
}


