/* GameSection.css */
.gameSection {
  margin: 20px 0;
  background-color: hsl(209, 38%, 20%);
  border-radius: 10px;
  padding: 20px;
}

.gameList {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.gameGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.gameCarousel {
  display: flex;
  overflow-y: scroll;
  align-items: center;
  height: 400px !important;
  flex-direction: row;
}

.gameCarouselPreference {
  display: flex;
  /* overflow: scroll; */
  align-items: center;
  justify-content: space-between;
  height: 300px !important;
  flex-direction: row;
}

.gameCard {
  margin: 10px;
  width: 200px;
  flex: 0 0 auto;
  background-color: #494747;
  margin-right: 15px;
  padding: 15px;
  border-radius: 5px;
  transition: transform 0.2s ease-in-out;
}

.gameCard:hover {
  transform: scale(1.05);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.gameCarousel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
