.clear-rating-text {
  margin-left: 15px;
  cursor: pointer;
  margin-right: 15px;
}

.clear-rating-text:hover {
  color: rgb(175, 175, 223);
}
.MuiOutlinedInput-root.Mui-focused {
  border-color: rgb(250, 251, 252) !important;
}

.MuiOutlinedInput-notchedOutline{
  border-color: white!important;
}